$title-size: 12px;
$sub-title-size: 9px;

.footer-toolbar{
    height: auto;
    .container {
        display: flex;
        width: 100%;
        flex-flow: row wrap;
        .item {
            order: 3;
            width: 33%;
        }
        .first{
            font-size: $title-size;
            text-align: left;
        }
        .second{
            font-size: $sub-title-size;
            text-align: center;
        }  
        .third{
            font-size: $sub-title-size;
            text-align: right;
        }
    }
}

@media all and (max-width: 500px) {
    .item {
        width: 100% !important;
        text-align: center !important;
    }
  }