<mat-toolbar color="primary" class="footer-toolbar">
    <div class="container">
        <div class="item first">{{corp}}</div>
        <div class="item second">{{author}}</div>
        <div class="item third">{{date}}</div>
    </div>
</mat-toolbar>
