$color-red: rgba(0,0,0,.03);

mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.example-container{
    height: 100%;
    margin-top: 65px;
    .side-menu{
        background: $color-red;
        padding: 15px;
    }
    .router-container{
        padding: 5%;
    }
}