<mat-toolbar color="primary" class="main-toolbar mat-elevation-z6">
  {{title}}
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav class="side-menu" mode="side" opened>Menu</mat-sidenav>
  <mat-sidenav-content class="router-container">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>

